


/* .carousel-container {
    padding: 10px;
}

#myArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#myArticles {
    flex: 0 0 calc(25% - 20px); 
    margin: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
#div{
    flex-grow: 1;
    flex-basis: 200;
} */
  
/* #productList {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
/* } */

/* #productList {
    flex: 0 0 calc(25% - 20px); Adjust the width as needed */
    /* margin: 10px; /* Adjust the margin between products */
    /* border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; */
/* }  */
/* #div{
    flex-grow: 1;
    flex-basis: 200;
} */

/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

/* .product {
  flex: 0 0 calc(25% - 20px); 
  margin: 10px; 
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
} */

  

/* .product{
  display: flex;
  flex-wrap: wrap;
}
.dev{
  flex-grow: 1;
  flex-basis: 200;
} */

  
   /* .products {
      display: flex;
      flex-wrap: wrap;     
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .product { 
      margin-bottom: 20px; 
    } */
    
    
   

    


    
  
      
    
  