* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-position: center; 
    background-image: url('../Images/login.jpg'); /* Replace 'image1.jpg' with your image file path */
    background-size: cover; /* Cover the entire background */
}

.container {
    width: 300px;
    background-color: #fff;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #4caf50;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#goToLogin {
    padding: 10px;
    justify-content: center;
    text-align: center;
}