* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    display: flex ;
    justify-content: space-around ;
    padding: 15px 10%;
    background-color: #1e1d1d;
    position: relative  ;
  }
  
  .logo img {
    height: 40px;
    width: 40px;
  }
  
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  
  .search-form {
    display: flex;
    width: 60%;
  }
  
  .search-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .search-form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .account-links a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  main {
      padding: 30px 10%;
      display: flex;
      justify-content: space-between;
      overflow: scroll;
      overflow-x: hidden;
      max-height: 630px;
    }
  
  
  aside {
      margin: 10px;
      width: 200px;
      background-color: #f4f4f4; /* Background color */
      padding: 20px; /* Padding around the content */
      display: flex;
      position: fixed;
  }
  
  .categories ul {
      list-style: none; /* Remove default list styles */
      padding: 0; /* Remove default padding */
  }
  
  .categories li {
      margin-bottom: 10px; /* Spacing between list items */
      font-size: 16px; /* Font size */
      padding: 10px;
      border-bottom: 1px solid #ddd;
  }
  
  .categories li:last-child {
      border-bottom: none;
    }
  
  .categories li:hover {
      color: #007bff; /* Change color on hover */
      cursor: pointer; /* Change cursor on hover */
  }
    
  
   .products {
      display: flex;
      flex-wrap: wrap;     
      justify-content: center;
    }
    
    .product {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 20%;
        height: 325px;
        padding: 20px;
        margin-right: 5px;
        margin-left: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: #f5f5f5;
        margin-bottom: 20px;
    }
    
    .product img {
      width: 100%;
      height: 50%;
    }
    
    .product h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .product p { 
        margin-bottom: 10px;
    }
    
    .product .price {
      font-weight: bold;
    } 
    
    /* #addProduct {
        display: flex;
        flex-wrap: wrap;     
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 20%;
        height: 325px;
        padding: 20px;
        margin-right: 5px;
        margin-left: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: #f5f5f5;
        margin-bottom: 20px;
    }
    
    #addProduct img {
      width: 100%;
      height: 50%;
    }
    
    #addProduct h3 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #addProduct p { 
        margin-bottom: 10px;
    } */

    /* #articles {
      display: flex;
      flex-wrap: wrap;     
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 20%;
      height: 325px;
      padding: 20px;
      margin-right: 5px;
      margin-left: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: #f5f5f5;
      margin-bottom: 20px;
  }
  
  #articles img {
    width: 100%;
    height: 50%;
  }
  
  #articles h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #articles p { 
      margin-bottom: 10px;
  }

  #articles .price { 
    font-weight: bold;
  } */
    
    

    


    
  
      
    
  